<script setup>
import { reactive, ref , onBeforeMount, computed , onMounted } from "vue";
import LayoutAuthenticated from "@/layouts/LayoutAuthenticated.vue";
import SectionMain from "@/components/SectionMain.vue";
import SectionTitleLineWithButton from "@/components/SectionTitleLineWithButton.vue";
import {
  mdiBallotOutline,
  mdiCardAccountDetailsStarOutline,
  mdiMagnify,
} from "@mdi/js";
import CardBox from "@/components/CardBox.vue";
import FormField from "@/components/FormField.vue";
import FormControl from "@/components/FormControl.vue";
import BaseDivider from "@/components/BaseDivider.vue";
import BaseButton from "@/components/BaseButton.vue";
import BaseButtons from "@/components/BaseButtons.vue";
import TableSampleClients from "@/components/TableSampleClients.vue";
import { useGeneralStore } from "@/stores/general.js";
import { useReporteStore } from "@/stores/mReporte.js";
import { useRegisterStore } from "@/stores/register.js";
import { useSesionStore } from "@/stores/mSesion.js";
import Datepicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";
import useVuelidate from "@vuelidate/core";
import { validarGestionarMov } from "@/_validations/gestionarMovimiento/validarGestionarMov";
import exportXlsFile from "export-from-json";
import exportFromJSON from "export-from-json";
import { fireToastMsg } from "../../_globals/global.js";
import Swal from "sweetalert2";

const ReporteStore_ = useReporteStore();
const useRegisterStore_ = useRegisterStore();
onBeforeMount(() => {
  useGeneralStore().listProduct();
  useGeneralStore().listCC();
  useGeneralStore().listMedioPago('Mw==');
  useGeneralStore().listSorteo('XXX');
  useGeneralStore().listCtaCaja('XXX');
  useGeneralStore().listBanco('XXX');
  // useGeneralStore().listTipoPagoMov("MQ==");
  ReporteStore_.$state = { item_table: [] };
  useSesionStore().data_user;
});
const tableItems = ref(null);

// const selectEstatusMov = ReporteStore_;
const selectGeneral = useGeneralStore();
const storeSesion = useSesionStore();
const data_user_ = computed(() => storeSesion.data_user.userType);
const selectOptiosListProduct = computed(() => selectGeneral.slistProduct);
const selectOptionListCC = computed(() => selectGeneral.slistCC);
const selectOptionListSorteo = computed(() => selectGeneral.slistSorteo);
const selectOptionListTipoPago = computed(() => selectGeneral.slistMediopago);
const selectOptionListBanco = computed(() => selectGeneral.slistBanco);
const selectOptionListCtaCaja = computed(() => selectGeneral.slistCtaCaja);
const items_Data = computed(() => ReporteStore_.item_table);
let checkedRows = ref([]);
let updateCheck = ref(false);
let auxDataExcel = ref([]);
let printData = ref(null);



const isdisabled = computed(() =>{
  // console.log('se ejecuto el computed',checkedRows.value);
  if (items_Data.value[0]){
    if (items_Data.value[0].estatusMovimiento === '1' || items_Data.value[0].estatusMovimiento === '2'){
      return true
    }else if (items_Data.value[0].estatusMovimiento === '0'){
      // console.log("entro 0")
      if(printData.value){
        // console.log("entro aux",printData)
         return false
      }else return true
    }else return true
  }else return true;
})
const valuecheck = (e) => {
  console.log('e',e);
  if (e?.value) {
    checkedRows.value = e.value;
  }
};
let selectOptionEstatus = [
  { code: 9, name: "SELECCIONE" },
  { code: 1, name: "APROBADO" },
  { code: 0, name: "PENDIENTE" },
  { code: 2, name: "RECHAZADO" },
];

const form = reactive({
  comprador: { code: null, name: "SELECCIONE" },
  producto: { code: null, description: "SELECCIONE" },
  sorteo: { code: null, name: "SELECCIONE" },
  tipoMov: { code: null, name: "SELECCIONE" },
  cuenta: { code: null, name: "SELECCIONE" },
  banco_oficina: { code: null, name: "SELECCIONE" },
  estatus:  { code: 9, name: "SELECCIONE" },
  fecha_desde: ref(new Date()),
  fecha_hasta: ref(new Date()),
});

let rules = validarGestionarMov(data_user_);
let $v = useVuelidate(rules, form);

const format_fecha_desde = (fecha_desde) => {
  const day = fecha_desde.getDate();
  const month = fecha_desde.getMonth() + 1;
  const year = fecha_desde.getFullYear();
  return `${day}/${month}/${year}`;
};
const format_fecha_hasta = (fecha_hasta) => {
  const day = fecha_hasta.getDate();
  const month = fecha_hasta.getMonth() + 1;
  const year = fecha_hasta.getFullYear();

  return `${day}/${month}/${year}`;
};

// const submit_aprobar = async (btn) => {
//   useRegisterStore_.registerMovement(checkedRows, btn);
//   checkedRows = [];
//   updateCheck.value = true;
//   console.log("updateCheck", updateCheck);
//   setTimeout(() => {
//     updateCheck.value = false;
//   });
// };

const submit_aprobar = async (btn) => {
    const valInput = await Swal.fire({
    input: 'textarea',
    html: '<b>Observación</b>',
    confirmButtonText: 'CONFIRMAR',
    cancelButtonText: 'CANCELAR',
    confirmButtonColor: '#0c7f08',
    cancelButtonColor: '#062804',
    inputPlaceholder: 'Introduzca su observación...',
    inputAttributes: {
      maxlength: 100,
      'aria-label': 'Type your message here',
    },
    showCancelButton: true,
  });
  if(valInput.isConfirmed){
    const observacion = valInput.value || '';
    useRegisterStore_.registerMovement(checkedRows, btn, observacion);
    checkedRows = [];
    updateCheck.value = true;
    setTimeout(() => {
      updateCheck.value = false;
    });
  }else{
  }
}

const descarExcel = () => {
  let data = items_Data.value;
  const fileName = "Reporte Movimiento";
  const exportType = exportFromJSON.types.xls;
  exportXlsFile({ data, fileName, exportType });  
};

const search_register = async () => {
  //invocar la api que lista los registro en la tabla. -.-
  const result = await $v.value.$validate();
  if (result) {
    ReporteStore_.listarMovimientos(form);
    checkedRows = [];
    updateCheck.value = true;
    setTimeout(() => {
      updateCheck.value = false;
    });
  } else fireToastMsg("Seleccione el campo requerido.");
};

const cleanInput_Sorteo = () => {
  form.sorteo =  { code: null, name: "SELECCIONE"};
};

const cleanInput_tipoM = () => {
  form.cuenta = { code: null, name: "SELECCIONE" };
  form.banco_oficina =  { code: null, name: "SELECCIONE" };
};

const product_change = () => {
  const cod_producto = form.producto.code;
  cleanInput_Sorteo();
  if(cod_producto != null){
    useGeneralStore().listSorteo(cod_producto);
  }
};

const tipoPago_change = () => {
  const cod_tipoMov = form.tipoMov.code;
  useGeneralStore().listBanco(cod_tipoMov);
  useGeneralStore().listCtaCaja(cod_tipoMov);

  if(cod_tipoMov === 'MDg='){
    form.estatus =  { code: 1, name: "APROBADO" }
  }
  cleanInput_tipoM ();
};
</script>

<template>
  <LayoutAuthenticated>
    <SectionMain>
      <SectionTitleLineWithButton
        :icon="mdiCardAccountDetailsStarOutline"
        title="Gestionar Movimiento"
      />
      <CardBox form @submit.prevent="">
        <FormField>
          <div v-if="data_user_ != '05'">
            <FormField label="Comprador" :asterisk="'requiredlabel'">
              <FormControl
                v-model="$v.comprador.$model"
                type="select"
                :options="selectOptionListCC"
              />
            </FormField>
            <span
              v-for="error in $v.comprador.$errors"
              :key="error.$uid"
              class="text-xs text-red-500"
            >
              {{ error.$message }}
            </span>
          </div>
          <div>
            <FormField label="Producto" :asterisk="'requiredlabel'">
              <FormControl
                v-model="$v.producto.$model"
                type="select"
                :options="selectOptiosListProduct"
                v-on:change="product_change()"
              />
            </FormField>
            <span
              v-for="error in $v.producto.$errors"
              :key="error.$uid"
              class="text-xs text-red-500"
            >
              {{ error.$message }}
            </span>
          </div>
          <div>
            <FormField label="Sorteo" :asterisk="'requiredlabel'">
              <FormControl
                v-model="$v.sorteo.$model"
                type="select"
                :options="selectOptionListSorteo"
                :disabled="$v.producto.$model.code === null ? true : false"
                :style="
                  $v.producto.$model.code === null
                    ? `background-color: #ddd`
                    : ''
                "
              />
            </FormField>
            <span
              v-for="error in $v.sorteo.$errors"
              :key="error.$uid"
              class="text-xs text-red-500"
            >
              {{ error.$message }}
            </span>
          </div>
          <FormField label="Fecha desde">
            <Datepicker
              v-model="$v.fecha_desde.$model"
              class="dateStyle"
              locale="es-VE"
              autoApply
              :enableTimePicker="false"
              :format="format_fecha_hasta"
              :maxDate="new Date()"
            />
          </FormField>
          <FormField label="Fecha hasta">
            <Datepicker
              v-model="$v.fecha_hasta.$model"
              class="dateStyle"
              locale="es-VE"
              autoApply
              :enableTimePicker="false"
              :format="format_fecha_desde"
              :maxDate="new Date()"
            />
          </FormField>
        </FormField>
        <FormField>
           <div>
            <FormField label="Estatus" :asterisk="'requiredlabel'">
            <FormControl
              v-model="$v.estatus.$model"
              type="select"
              :options="selectOptionEstatus"
              :disabled="$v.tipoMov.$model.code === 'MDg=' ? true : false"
              :style="
                $v.tipoMov.$model.code === 'MDg='
                  ? `background-color: #ddd`
                  : ''
              "
            />
          </FormField>
           <span
              v-for="error in $v.estatus.$errors"
              :key="error.$uid"
              class="text-xs text-red-500"
            >
              {{ error.$message }}
            </span>
          </div>
          <FormField label="Tipo de movimiento">
            <FormControl
              v-model="$v.tipoMov.$model"
              type="select"
              :options="selectOptionListTipoPago"
              v-on:change="tipoPago_change()"
            />
          </FormField>
          <FormField
              :label="$v.tipoMov.$model.code === 'MDc=' ? 'Caja destino' : 'Cuenta destino'"
            >
            <FormControl
              v-model="$v.cuenta.$model"
              type="select"
              :options="selectOptionListCtaCaja"
              :disabled="
                $v.tipoMov.$model.code === 'MDA=' ||
                $v.tipoMov.$model.code === 'MDg='
                  ? true
                  : false
              "
              :style="
                $v.tipoMov.$model.code === 'MDA=' ||
                $v.tipoMov.$model.code === 'MDg='
                  ? `background-color: #ddd`
                  : ''
              "
            />
          </FormField>
          <FormField :label="$v.tipoMov.$model.code === 'MDc=' ? 'Oficina' : 'Banco'">
            <FormControl
              v-model="$v.banco_oficina.$model"
              type="select"
              :options="selectOptionListBanco"
              :disabled="
                $v.tipoMov.$model.code === 'MDA=' ||
                $v.tipoMov.$model.code === 'MDg='
                  ? true
                  : false
              "
              :style="
                $v.tipoMov.$model.code === 'MDA=' ||
                $v.tipoMov.$model.code === 'MDg='
                  ? `background-color: #ddd`
                  : ''
              "
            />
          </FormField>
          <BaseButtons class="mt-3 flex justify-end">
          {{$v.estatus.code}}
            <BaseButton
            v-if="data_user_ === '05'"
              class=""
              :icon="mdiMagnify"
              :iconSize="24"
              :disabled="$v.producto.$model.code == null || $v.sorteo.$model.code == null || $v.estatus.code === 9 ? true : false"
              color="info"
              label="Buscar"
              @click="search_register"
            />
            <BaseButton
            v-else
              class=""
              :icon="mdiMagnify"
              :iconSize="24"
              :disabled="$v.$invalid"
              color="info"
              label="Buscar"
              @click="search_register"
            />
          </BaseButtons>
        </FormField>
        <BaseDivider />
        <CardBox class="mb-6" has-table>
          <TableSampleClients
            :checkData="valuecheck"
            checkable
            :updateCheck="updateCheck"
          />
        </CardBox>
        <template #footer>
          <BaseButtons>
            <BaseButton
              v-if="data_user_ != '05'"
              :disabled="isdisabled"
              color="info"
              label="Aprobar"
              @click="submit_aprobar(1)"
            />
            <BaseButton
              v-if="data_user_ != '05'"
              :disabled="isdisabled"
              color="info"
              label="Rechazar"
              @click="submit_aprobar(2)"
            />
            <BaseButton
              color="info"
              label="Exportar a excel"
              :disabled="items_Data.length ? false : true"
              @click="descarExcel"
            />
          </BaseButtons>
        </template>
      </CardBox>
    </SectionMain>
  </LayoutAuthenticated>
</template>
