<script setup>
import { reactive, ref } from "vue";
import { mdiBallotOutline, mdiCardAccountDetailsStarOutline } from "@mdi/js";
import SectionMain from "@/components/SectionMain.vue";
import CardBox from "@/components/CardBox.vue";
import FormField from "@/components/FormField.vue";
import FormControl from "@/components/FormControl.vue";
import BaseDivider from "@/components/BaseDivider.vue";
import BaseButton from "@/components/BaseButton.vue";
import BaseButtons from "@/components/BaseButtons.vue";
import LayoutAuthenticated from "@/layouts/LayoutAuthenticated.vue";
import SectionTitleLineWithButton from "@/components/SectionTitleLineWithButton.vue";
import { useGeneralStore } from "@/stores/general.js";
import { onBeforeMount, computed } from "vue";
import Datepicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";
import useVuelidate from "@vuelidate/core";
import { validarDescuento } from "@/_validations/register/validarDescuento";
import { useRegisterStore } from "@/stores/register.js";

onBeforeMount(() => {
  useGeneralStore().listProduct();
  useGeneralStore().listCC();
  useGeneralStore().listSorteo('XXX');
});

const selectGeneral = useGeneralStore();
const selectOptiosListProduct = computed(() => selectGeneral.slistProduct);
const selectOptionListSorteo = computed(() => selectGeneral.slistSorteo);
const selectOptionListCC = computed(() => selectGeneral.slistCC);

const form = reactive({
  comprador: { code: null, name: "SELECCIONE" },
  producto: { code: null, description: "SELECCIONE" },
  sorteo: { code: null, name: "SELECCIONE" },
  fecha: ref(new Date()),
  descripcion: "",
  monto: "",
  autorizado: "",
});

const getInitialFormData = () => ({
  comprador: { code: null, name: "SELECCIONE" },
  producto: { code: null, description: "SELECCIONE" },
  sorteo: { code: null, name: "SELECCIONE" },
  fecha: ref(new Date()),
  descripcion: "",
  monto: "",
  autorizado: "",
});

const rules = {
  comprador: validarDescuento.comprador,
  producto: validarDescuento.producto,
  sorteo: validarDescuento.sorteo,
  fecha: validarDescuento.fecha,
  descripcion: validarDescuento.descripcion,
  monto: validarDescuento.monto,
  autorizado: validarDescuento.autorizado,
};

const $v = useVuelidate(rules, form);

const format = (fecha) => {
  const day = fecha.getDate();
  const month = fecha.getMonth() + 1;
  const year = fecha.getFullYear();

  return `${day}/${month}/${year}`;
};

const resetUserForm = () => Object.assign(form, getInitialFormData());

const cleanInput = () => {
  form.comprador= { code: null, name: "SELECCIONE" },
  form.producto= { code: null, description: "SELECCIONE" },
  form.sorteo= { code: null, name: "SELECCIONE" },
  form.fecha= ref(new Date()),
  form.descripcion= "",
  form.monto= "",
  form.autorizado= ""
};

const cleanInput_Sorteo = () => {
  form.sorteo =  { code: null, name: "SELECCIONE"};
};

const submit = async () => {
  const result = await $v.value.$validate();
  if (result) {
    useRegisterStore().registerDiscount(form);
    cleanInput();
    $v.value.$reset();
  }
};

const product_change =  () => {
  const cod_producto = form.producto.code;
  cleanInput_Sorteo();
  if (cod_producto != null){
    useGeneralStore().listSorteo(cod_producto);
  }
};

</script>

<template>
  <LayoutAuthenticated>
    <SectionMain>
      <SectionTitleLineWithButton
        :icon="mdiCardAccountDetailsStarOutline"
        title="Registrar Descuento"
        
      />
      <CardBox is-form @submit.prevent="submit">
        <FormField>
          <div>
            <FormField label="Comprador comercial" :asterisk="'requiredlabel'">
              <FormControl
                v-model="$v.comprador.$model"
                type="select"
                :options="selectOptionListCC"
              />
            </FormField>
            <span
              v-for="error in $v.comprador.$errors"
              :key="error.$uid"
              class="text-red-500 text-xs"
            >
              {{ error.$message }}
            </span>
          </div>
          <div>
            <FormField label="Producto" :asterisk="'requiredlabel'">
              <FormControl
                v-model="$v.producto.$model"
                type="select"
                :options="selectOptiosListProduct"
                v-on:change="product_change()"
              />
            </FormField>
            <span
              v-for="error in $v.producto.$errors"
              :key="error.$uid"
              class="text-red-500 text-xs"
            >
              {{ error.$message }}
            </span>
          </div>
          <div>
            <FormField label="Sorteo" :asterisk="'requiredlabel'">
              <FormControl
                v-model="$v.sorteo.$model"
                type="select"
                :options="selectOptionListSorteo"
                :disabled="$v.producto.$model.code === null ? true : false"
                :style="$v.producto.$model.code === null ? `background-color: #ddd` : ''"
              />
            </FormField>
            <span
              v-for="error in $v.sorteo.$errors"
              :key="error.$uid"
              class="text-red-500 text-xs"
            >
              {{ error.$message }}
            </span>
          </div>
          <FormField label="Fecha">
            <Datepicker
              v-model="$v.fecha.$model"
              class="dateStyle"
              locale="es-VE"
              autoApply
              :enableTimePicker="false"
              :format="format"
              :maxDate="new Date()"
            />
          </FormField>
        </FormField>
        <div>
          <FormField label="Concepto" :asterisk="'requiredlabel'">
            <FormControl v-model="$v.descripcion.$model" type="textarea" maxlength="150" />
          </FormField>
          <span
            v-if="$v.descripcion.$error"
            class="text-red-500 text-xs"
          >
            {{ $v.descripcion.$errors[0].$message }}
          </span>
        </div>
        <FormField>
          <div>
            <FormField label="Monto" :asterisk="'requiredlabel'">
              <FormControl v-model="$v.monto.$model" maxlength="9" />
            </FormField>
            <small v-if="$v.monto.$error" class="text-red-500 text-xs">
              {{ $v.monto.$errors[0].$message }}
            </small>
          </div>
          <div>
            <FormField label="Autorizado por" :asterisk="'requiredlabel'">
              <FormControl v-model="$v.autorizado.$model" maxlength="50" />
            </FormField>
            <span
              v-if="$v.autorizado.$error"
              class="text-red-500 text-xs"
            >
              {{ $v.autorizado.$errors[0].$message }}
            </span>
          </div>
        </FormField>
        <BaseDivider />
        <template #footer>
          <BaseButtons>
            <BaseButton
              type="submit"
              color="info"
              label="Registrar"
              :disabled="$v.$invalid"
              @click="submit"
            />
          </BaseButtons>
        </template>
      </CardBox>
    </SectionMain>
  </LayoutAuthenticated>
</template>
