<script setup>
import { reactive, createApp, computed, ref, onMounted } from "vue";
import { useRouter } from "vue-router";
import { createPinia } from "pinia";
import {
  mdiAccount,
  mdiEyeOff,
  mdiLock,
  mdiEye
} from "@mdi/js";
import SectionFullScreen from "@/components/SectionFullScreen.vue";
import CardBox from "@/components/CardBox.vue";
import FormField from "@/components/FormField.vue";
import FormControl from "@/components/FormControl.vue";
import BaseButton from "@/components/BaseButton.vue";
import BaseButtons from "@/components/BaseButtons.vue";
import LayoutGuest from "@/layouts/LayoutGuest.vue";
import useVuelidate from "@vuelidate/core";
import { validarLogin } from "@/_validations/login/validarlogin";
import { useSesionStore } from "@/stores/mSesion.js";

const form = reactive({
  login: "",
  pass: "",
});

const rules = {
  login: validarLogin.login,
  pass: validarLogin.pass,
};

const $v = useVuelidate(rules, form);

let iconDinamic = ref(mdiEye);

const submit = async (login, pass) => {
  const result = await $v.value.$validate();
  if (result) useSesionStore().inicioSesion(login, pass);
};

const changeIcon = (value) => {
  if (value.type === "text") {
    iconDinamic.value = mdiEye;
  } else {
    iconDinamic.value = mdiEyeOff;
  }
};
</script>

<template>
  <LayoutGuest>
    <SectionFullScreen v-slot="{ cardClass }" bg="pinkRed">
      <CardBox
        :class="cardClass"
        is-form
        @submit.prevent="submit($v.login.$model, $v.pass.$model)"
      >
        <FormField label="Usuario" :asterisk="'requiredlabel'">
          <FormControl
            v-model="$v.login.$model"
            name="login"
            autocomplete="username"
            :icon="mdiAccount"
            position="left-0"
            placeholder="Por favor ingrese su usuario."
            maxlength="20"
          />
        </FormField>
        <div class="error-class">
          <span
            v-if="$v.login.$error"
            class="text-red-500 text-xs"
          >
            {{ $v.login.$errors[0].$message }}
          </span>
        </div>

        <FormField label="Clave" :asterisk="'requiredlabel'">
          <FormControl
            id="password"
            v-model="$v.pass.$model"
            type="password"
            name="password"
            autocomplete="current-password"
            :icon="iconDinamic"
            :iconTwo="mdiLock"
            :changeIcon="changeIcon"
            position="right-0"
            positiontwo="left-0"
            placeholder="Por favor ingrese su clave."
            maxlength="20"
          />
        </FormField>
        <div class="error-class">
          <span v-if="$v.pass.$error" class="text-xs text-red-500">
            {{ $v.pass.$errors[0].$message }}
          </span>
        </div>

        <template #footer>
          <BaseButtons>
            <BaseButton type="submit" label="Iniciar Sesión" />
          </BaseButtons>
        </template>
      </CardBox>
    </SectionFullScreen>
  </LayoutGuest>
</template>