<script setup>
import BaseIcon from "@/components/BaseIcon.vue";

const props = defineProps({
  icon: {
    type: String,
    default: '',
  },
  iconTwo: {
    type: String,
    default: '',
  },
  h: {
    type: String,
    default: null,
  },
  iconPulse: {
    type: Function,
    default: () => {},
  },
  position:{
    type: String,
    default: ''
  },
  positiontwo:{
    type: String,
    default: ''
  }
});
const visibleText = () =>{
  props.iconPulse(true);
}
</script>

<template>
  <BaseIcon
    :path="icon"
    w="w-10"
    :h="h"
    :class="'absolute top-0 z-10 cursor-pointer text-gray-500 dark:text-slate-400 ' + position"
    @click="visibleText"
  />
  <BaseIcon
    :path="iconTwo"
    w="w-10"
    :h="h"
    :class="'absolute top-0 z-10 cursor-pointer text-gray-500 dark:text-slate-400 ' + positiontwo"
  />
</template>
