<script setup>
import { computed, useSlots } from "vue";

defineProps({
  label: {
    type: String,
    default: null,
  },
  labelFor: {
    type: String,
    default: null,
  },
  help: {
    type: String,
    default: null,
  },
  asterisk:{
    type: String,
    default: null
  }
});

const slots = useSlots();

const wrapperClass = computed(() => {
  const base = [];
  const slotsLength = slots.default().length;
  if (slotsLength > 1) {
    base.push("grid grid-cols-1 gap-3");
  }

  if (slotsLength === 2) {
    base.push("md:grid-cols-2");
  }
  if (slotsLength === 3) {
    base.push("md:grid-cols-3");
  }
  if (slotsLength === 4) {
    base.push("md:grid-cols-4");
  }
  if (slotsLength === 5) {
    base.push("md:grid-cols-5");
  }
  if (slotsLength === 6) {
    base.push("md:grid-cols-6");
  }
  
  return base;
});
</script>

<template>
  <div class="mb-3 last:mb-0">
    <label v-if="label" :for="labelFor" :class="'block font-bold mb-2 '+ asterisk">
      {{ label }}
    </label>
    <div :class="wrapperClass">
      <slot />
    </div>
    <div v-if="help" class="text-xs text-gray-500 dark:text-slate-400 mt-1">
      {{ help }}
    </div>
  </div>
</template>
