<script setup>
import { computed, ref, watch } from "vue";
import { useReporteStore } from "@/stores/mReporte";
import { mdiEye, mdiTrashCan } from "@mdi/js";
import CardBoxModal from "@/components/CardBoxModal.vue";
import TableCheckboxCell from "@/components/TableCheckboxCell.vue";
import BaseLevel from "@/components/BaseLevel.vue";
import BaseButtons from "@/components/BaseButtons.vue";
import BaseButton from "@/components/BaseButton.vue";
import UserAvatar from "@/components/UserAvatar.vue";
import { useMainStore } from "@/stores/main";

const props = defineProps({
  checkable: Boolean,
  actions: Boolean,
  edit: Boolean,
  deleteData: Boolean,
  checkData: {
    type: Function,
    default: () => {},
  },
  updateCheck: Boolean,
});

const updateCheck_ = computed(() => props.updateCheck);

const reporteStore = useReporteStore();
watch(updateCheck_, (value) => {
  if (value) {
    checkedRows.value = [];
    reporteStore.$state = { item_table: [] };
  }
});

const mainStore = useMainStore();

const items = computed(() => reporteStore.item_table);
// const items = computed(() => mainStore.clients);

const isModalActive = ref(false);

const isModalDangerActive = ref(false);

const perPage = ref(10);

const currentPage = ref(0);

let checkedRows = ref([]);

const itemsPaginated = computed(() => {
  if (items.value) {
    return items.value.slice(
      perPage.value * currentPage.value,
      perPage.value * (currentPage.value + 1)
    );
  } else return [];
});

const numPages = computed(() => {
  if (items.value) {
    return Math.ceil(items.value.length / perPage.value);
  } else return "";
});

const currentPageHuman = computed(() => currentPage.value + 1);

const pagesList = computed(() => {
  const pagesList = [];

  for (let i = 0; i < numPages.value; i++) {
    pagesList.push(i);
  }

  return pagesList;
});

const remove = (arr, cb) => {
  const newArr = [];

  arr.forEach((item) => {
    if (!cb(item)) {
      newArr.push(item);
    }
  });

  return newArr;
};

const checked = (isChecked, client) => {
  if (isChecked) {
    checkedRows.value.push(client);
  } else {
    checkedRows.value = remove(
      checkedRows.value,
      (row) => row.codigoMovimiento === client.codigoMovimiento
    );
  }
  props.checkData(checkedRows);
};
</script>

<template>
  <CardBoxModal v-model="isModalActive" title="Sample modal">
    <p>Lorem ipsum dolor sit amet <b>adipiscing elit</b></p>
    <p>This is sample modal</p>
  </CardBoxModal>

  <CardBoxModal
    v-model="isModalDangerActive"
    title="Please confirm"
    button="danger"
    has-cancel
  >
    <p>Lorem ipsum dolor sit amet <b>adipiscing elit</b></p>
    <p>This is sample modal</p>
  </CardBoxModal>

  <!-- <div v-if="checkedRows.length" class="p-3 bg-gray-100/50 dark:bg-slate-800">
    <span
      v-for="checkedRow in checkedRows"
      :key="checkedRow.id"
      class="inline-block px-2 py-1 rounded-sm mr-2 text-sm bg-gray-100 dark:bg-slate-700"
    >
      {{ checkedRow }}
    </span>
  </div> -->
  <table v-if="itemsPaginated.length > 0">
    <thead class="styleTh">
      <tr>
        <th v-if="checkable" />
        <!-- <th /> colocar si se necesita agg un elemento sin name en la tabla -->
        <th>Comprador</th>
        <th>Tipo de movimiento</th>
        <th>Concepto</th>
        <th>Fecha</th>
        <th>Banco</th>
        <th>Referencia de movimiento</th>
        <th>Monto</th>
        <th>Autorizado por</th>
        <th />
      </tr>
    </thead>
    <tbody>
      <tr v-for="client in itemsPaginated" :key="client.codigoMovimiento">
        <TableCheckboxCell
          v-if="checkable"
          @checked="checked($event, client)"
        />
        <!-- {{ client }} -->
        <!-- <td class="border-b-0 lg:w-6 before:hidden">
          <UserAvatar
            :username="client.name"
            class="w-24 h-24 mx-auto lg:w-6 lg:h-6"
          />
          los th deben coincidir con los td para orden de la Data
        </td> -->
        <td data-label="Comprador">
          {{ client.Comprador }}
        </td>
        <td data-label="tipoMovimiento">
          {{ client.Tipo_De_Movimiento }}
        </td>
        <td data-label="Concepto">
          {{ client.Concepto }}
        </td>
        <td data-label="Fecha">
          {{ client.Fecha }}
        </td>
        <td data-label="Banco">
          {{ client.Banco }}
        </td>
        <td data-label="Referencia">
          {{ client.Referencia_de_Movimiento }}
        </td>
        <td data-label="Monto">
          {{ client.Monto.toString().replace(".", ",") }}
        </td>
        <td data-label="AprobadoPor">
          {{ client.Autorizado_por }}
        </td>
        <!-- <td data-label="Progress" class="lg:w-32">
          <progress
            class="flex w-2/5 self-center lg:w-full"
            max="100"
            :value="client.progress"
          >
            {{ client.progress }}
          </progress>
        </td> -->
        <!-- <td data-label="Created">
          <small :title="client.created"> {{ client.created }}</small>
        </td> -->
        <td v-if="actions" class="before:hidden lg:w-1 whitespace-nowrap">
          <BaseButtons type="justify-start lg:justify-end" no-wrap>
            <BaseButton
              v-if="edit"
              color="info"
              :icon="mdiEye"
              small
              @click="isModalActive = true"
            />
            <BaseButton
              v-if="deleteData"
              color="danger"
              :icon="mdiTrashCan"
              small
              @click="isModalDangerActive = true"
            />
          </BaseButtons>
        </td>
      </tr>
    </tbody>
  </table>

  <div v-if="itemsPaginated.length === 0" class="not-found text-center">
    <p>No existen registros</p>
  </div>
  <div class="p-3 lg:px-6 border-t border-gray-100 dark:border-slate-800">
    <BaseLevel>
      <BaseButtons>
        <BaseButton
          v-for="page in pagesList"
          :key="page"
          :active="page === currentPage"
          :label="page + 1"
          :color="page === currentPage ? 'lightDark' : 'whiteDark'"
          small
          @click="currentPage = page"
        />
      </BaseButtons>
      <small>Pagina {{ currentPageHuman }} de {{ numPages }}</small>
    </BaseLevel>
    <!-- {{ items }} -->
  </div>
</template>
<style>
.not-found {
  background-image: url("@/assets/logos/block.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 10vh;
  height: 20vh;
}

.styleTh th {
  color: #0c7f08 !important;
}
</style>
