.dateStyle input {
  height: 3rem;
  border-color: #000 !important;
}

label {
  color: #0c7f08 !important;
}

@media (min-width: 1024px) {
  tbody tr:nth-child(odd) {
    background-color: #eafbd1;
  }
}

.fondoDashboard {
  background-image: url("@/assets/logos/dashboard_background.jpg");
}
textarea {
  resize: none;
}
.requiredlabel::before{
  content: "* ";
  color:rgb(255 0 0 / 43%);
}
.error-class{
  margin-top: -.3rem;
  margin-bottom: 1rem;
}