<script setup>
import { RouterView } from "vue-router";
// import { useSesionStore } from "@/stores/mSesion.js";

// useSesionStore().loginSystem({});

</script>

<template>
  <RouterView />
</template>
