<script setup>
import { useStyleStore } from "@/stores/style.js";

const styleStore = useStyleStore();
</script>

<template>
  <div class="{ dark: styleStore.darkMode }">
      <!-- <img src="@/assets/logos/login_background.jpg" alt="logo" height="75" width="150"/> -->
    <div class="fondo">
      <slot />
    </div>
  </div>
</template>
<style>
.fondo {
  background-image: url("@/assets/logos/login_background.jpg");
}
</style>