<script setup>
import { mdiForwardburger, mdiBackburger, mdiMenu } from "@mdi/js";
import { useRouter } from "vue-router";
import menuAside from "@/menuAside.js";
import menuNavBar from "@/menuNavBar.js";
import { useMainStore } from "@/stores/main.js";
import { useLayoutStore } from "@/stores/layout.js";
import { useStyleStore } from "@/stores/style.js";
import BaseIcon from "@/components/BaseIcon.vue";
import NavBar from "@/components/NavBar.vue";
import NavBarItemPlain from "@/components/NavBarItemPlain.vue";
import AsideMenu from "@/components/AsideMenu.vue";
import FooterBar from "@/components/FooterBar.vue";
import { useSesionStore } from "@/stores/mSesion.js";
import { computed, onBeforeMount, ref } from "vue";
import {menuFormatter} from "../_globals/global";
import {
  mdiCardAccountDetailsStarOutline,
  mdiTable,
  mdiTelevisionGuide,
} from "@mdi/js";
const storeSesion = useSesionStore();

const data_user_ = computed(() => storeSesion.data_user.userName);

let datos_ = ref([]);

onBeforeMount(() => {
  menuNuevo();
});

const menuNuevo = () => {
  const menuAside_ = storeSesion.menu_list;
  const respuesta = menuFormatter(menuAside_);

  const newOne = Object.keys(respuesta).map(respItem => {
    if (respuesta[respItem].menu.length) {
      const objToReturn = {
        icon: mdiCardAccountDetailsStarOutline,
        label: respuesta[respItem].menuDescription, 
        menu: respuesta[respItem].menu.map(menuItem => ({
          icon: mdiTable,
          label: menuItem.menuDescription,
          to: "/"+(menuItem.urlMenu || 'dashboard')
        }))
      };
      return objToReturn;
    }
    else 
      return {
              icon: mdiTable,
              icon: mdiTelevisionGuide,
              label: respuesta[respItem].menuDescription, 
              to: "/"+(respuesta[respItem].urlMenu || 'dashboard')
            }
  });
  datos_.value = newOne
};

useMainStore().setUser({
  name: data_user_,
  email: "john@example.com",
  avatar:
    "https://avatars.dicebear.com/api/avataaars/example.svg?options[top][]=shortHair&options[accessoriesChance]=93",
});

const layoutAsidePadding = "xl:pl-60";

const styleStore = useStyleStore();

const layoutStore = useLayoutStore();

const router = useRouter();

router.beforeEach(() => {
  layoutStore.isAsideMobileExpanded = false;
  layoutStore.isAsideLgActive = false;
});

const menuClick = (event, item) => {
  if (item.isToggleLightDark) {
    styleStore.setDarkMode();
  }

  if (item.isLogout) {
    storeSesion.sessionLogout()
  }
};
</script>

<template>
  <div
    :class="{
      dark: styleStore.darkMode,
      'overflow-hidden lg:overflow-visible': layoutStore.isAsideMobileExpanded,
    }"
  >
    <div
      :class="[
        layoutAsidePadding,
        { 'ml-60 lg:ml-0': layoutStore.isAsideMobileExpanded },
      ]"
      class="pt-14 min-h-screen w-screen transition-position lg:w-auto bg-gray-50 dark:bg-slate-800 dark:text-slate-100 fondoDashboard"
    >
      <NavBar
        :menu="menuNavBar"
        :class="[
          layoutAsidePadding,
          { 'ml-60 lg:ml-0': layoutStore.isAsideMobileExpanded },
        ]"
        @menu-click="menuClick"
      >
        <NavBarItemPlain
          display="flex lg:hidden"
          @click.prevent="layoutStore.asideMobileToggle()"
        >
          <BaseIcon
            :path="
              layoutStore.isAsideMobileExpanded
                ? mdiBackburger
                : mdiForwardburger
            "
            size="24"
          />
        </NavBarItemPlain>
        <NavBarItemPlain
          display="hidden lg:flex xl:hidden"
          @click.prevent="layoutStore.isAsideLgActive = true"
        >
          <BaseIcon :path="mdiMenu" size="24" />
        </NavBarItemPlain>
        <NavBarItemPlain use-margin />
      </NavBar>
      <AsideMenu :menu="datos_" @menu-click="menuClick" />
      <slot />
      <FooterBar />
    </div>
  </div>
</template>